.grid {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(103, 100, 100, 0.1);
}

.row {
  display: flex;
}

.cell {
  width: 160px;
  height: 130px;
  border: 2.5px solid rgba(192, 192, 192, 0.271);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #262e2e;
}

.robot {
  font-size: 40px;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  backface-visibility: hidden;
}

.robot.north {
  transform: translate(-50%, -50%) rotate(0deg);
}

.robot.east {
  transform: translate(-50%, -50%) rotate(90deg);
}

.robot.south {
  transform: translate(-50%, -50%) rotate(180deg);
}

.robot.west {
  transform: translate(-50%, -50%) rotate(270deg);
}


